.counter-wrap {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}

.number {
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 25%;
  border: 20px double whitesmoke;
  border-radius: 30px;
  margin: 20px auto;
  color: white;
  background-color: slateblue;
}

.caculater-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.plus-button,
.minus-button {
  display: block;
  border: none;
  border-radius: 3%;
  padding: 10px 20%;
  margin-right: 1%;
  background-color: lightcoral;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.plus-button {
  margin-left: 2%;
  background-color: coral;
}

.minus-button {
  margin-right: 2%;
  background-color: royalblue;
}

.plus-button:hover,
.minus-button:hover,
.zero-button:hover {
  opacity: 0.5;
}

.zero-button {
  width: 100%;
  display: block;
  border: none;
  border-radius: 3%;
  padding: 10px 25%;
  background-color: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.7s;
}
