.contain-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.counter-button {
  font-size: 50px;
  margin: 25px auto;
  padding: 50px;
  background-color: slateblue;
  color: white;
  font-weight: bold;
  border: 20px double transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: border 0.5s;
}

.counter-button:hover {
  color: slateblue;
  background-color: transparent;
  border: 20px double slateblue;
}

.magazine-button {
  font-size: 50px;
  margin: 25px auto;
  padding: 50px 35px;
  background-color: seagreen;
  color: white;
  font-weight: bold;
  border: 20px double transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: border 0.5s;
}

.magazine-button:hover {
  color: seagreen;
  background-color: transparent;
  border: 20px double seagreen;
}
