.loading-box {
  width: 100vw;
  height: 100vh;
  background: rgba(256, 256, 256, 0.8);
  position: fixed;
  top: 0;
  left: 0;
}

.loading-picture {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
}
