.magazine-wrap {
  width: 1200px;
  margin: 50px auto;
  padding: 0 100px;
}

.issue-year {
  font-size: 18px;
  font-weight: bold;
}

.issue-line {
  color: lightgray;
  margin-top: 15px;
  margin-bottom: 15px;
}

.issues-wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 20px;
  column-gap: 12px;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .magazine-wrap {
    width: 900px;
  }

  .issues-wrap {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .magazine-wrap {
    width: 700px;
  }

  .issues-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}

.issues {
  width: 150px;
}

.issue-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.issue-title {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
